<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ブログリレーテーマジェネレーター</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <h1>ブログリレー テーマジェネレーター</h1>
      <a href="/">戻る</a>
      <h2>みんなの「これすき」</h2>
      <ul>
        {{range .LIKES}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{ if le 0 .PREV_PAGE }}
      <a href="/like?page={{ .PREV_PAGE }}">前のページ</a>
      {{ end }} {{ if .NEXT_EXIST }}
      <a href="/like?page={{ .NEXT_PAGE }}">次のページ</a>
      {{ end }} 全{{ .PAGES_COUNT }}ページ
    </div>
  </body>
</html>
